.gallery{
    margin-top: 10px;
    background-color: #FFFFFF;
}

.menu{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.menu li{
    display: block;
}
.menu button{
    display: block;
    height: 20px;
    padding: 0 20px;
}
.menu button:hover {
    background: rgb(159, 189, 207);
    cursor: pointer;
}
.menu button.selected{
    border-bottom: 2px solid black;
}