.wrapper {
    border-radius: 10px;
    background-color: #B3E5FC;
    padding: 10px;
}

.template{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

}

.image-section{
    border-radius: 8px;
    background-color: #0288D1;
    width: 200px;
    height: 100px;
}
.arrows{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.arrows-wrapper{
    width: 100px;
    display: flex;
    justify-content: space-between;
}
.arrow {
    width: 40px;
    height: 40px;
    background-color: #212121;
    color: white;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
} 
.arrow:hover{
    cursor: pointer;
    background-color: #757575;
    
}

