.image-card{
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: 100% auto;
    position: relative;
}
/* .delete_button{
    position: absolute;
    padding: 0 5px;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    height: 20px;
} */